*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    border-radius: 100px;
    width: 150px;
    height: auto;
}

p{
    position: absolute;
    top: 30px;
    left: 14%;
    display: inline-block;
    font-size: 30px;
}

p:nth-child(3){
    top: 80px;
    font-size: 20px;
}
